@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'Jotia';
    src: url('../public/assets/Fonts/Jotia.ttf') format('truetype'); 
  }
  

html{
    background-color: black;
}
.jotia{
    font-family: Jotia;
}